/* CardAlumno.css - Versión Compacta */

:root {
    --color-base: #199490;
}

.card-alumno {
    position: absolute;
    top: 70px;
    /* Ajusta según tu TopBar */
    right: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(123, 7, 7, 0.1);
    padding: 15px;
    width: 280px;
    font-family: 'Segoe UI', sans-serif;
    z-index: 1000;
    /* Asegura que esté por encima */
    border: 1.5px solid var(--color-base);
}

.profile-header {
    text-align: center;
    margin-bottom: 15px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--color-base-2);
    margin-bottom: 8px;
}

.profile-header h2 {
    margin: 3px 0;
    font-size: 1.2rem;
    color: #333;
}

.matricula {
    font-size: 0.8rem;
    color: #000000;
}

.info-section {
    background: var(--color-base);
    padding: 10px;
    border-radius: 8px;
}

.label {
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    min-width: 50px;
}

.btn-card-alumno {
    background: #1e1e1e;
    color: white;
    border: none;
    padding: 15px 7px;
    border-radius: 5px;
    cursor: pointer;
    width: 55%;
    margin-top: 15px;
    font-size: 0.9rem;
}

.btn-card-alumno:hover {
    background: #1f201f;
}

