.topbar {
    background-color: #1e1e1e;
    color: white;
    padding: 12px 30px;
    font-family: 'Segoe UI', sans-serif;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-right: 40px;
    color: #ffffff;
}

/* Nomborrar l-tes */
.l-tes {
    color: var(--color-base);
}

.nav-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--color-base);
}
