
.cuerpo-tabla {
  background-color: aliceblue;
  color: black;
  border-collapse: collapse;
  margin: 0rem 1rem;
  margin-bottom: 1.5rem;
}

.cuerpo-tabla tr td {
  border: 1px solid black;
}

.nombre-materia,
.cuerpo-tabla th {
  background-color: var(--color-listo);
  border: 1px solid black;
}

.nombre-materia {
  color: black;
  margin: 0rem 1rem;
  padding-left: 1.2rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.calificaciones-pendientes th,
.calificaciones-pendientes {
  background-color: var(--color-pendiente);
}