
.descripcion-grupo {
  background-color: rgba(35, 38, 40, 0.298);
  color: var(--color-base);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.contenedor-info-lista {
  margin: 1rem;
  margin-top: 3.5rem;
}

.contenedor-info-grupo {
  flex: 1;
}

.info-grupo {
  background-color: var(--color-base-2);
  padding: 0.8rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.grafica-grupo {
  padding: 3rem;
}

.titulo-lista-materias {
  width: 12%;
}

.lista-materias {
  background-color: rgba(240, 248, 255, 0.107);
  padding: 1rem;
  gap: 0.5rem;
  overflow-y: auto;
  height: 50vh;
  flex-shrink: 0;
}

.lista-materias > * {
  flex-shrink: 0;
}

.lista-materias::-webkit-scrollbar {
  width: 0.8rem;
}
.lista-materias::-webkit-scrollbar-thumb {
  background-color: var(--color-base-2);
  border-radius: 4px;
}